<div style="@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');">
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse; font-family: 'Poppins'; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale !important;">

            <tr>
                <td style="background: rgba(0, 255, 40, 0.06); padding-top: 20px; padding-bottom: 20px; border-radius: 0px;">
                    <table border="0" cellpadding="0" align="left">
                        <tr> 
                            <th colspan="2" align="left" style="display: flex; padding-left: 20px; align-items: center;"><img src="https://svgshare.com/i/MLc.svg" style="width: 160px;"/> <span style="font-size: 10px; text-transform: uppercase; letter-spacing: 1.67px; margin-left: 10px; color: #989898;"> - making borderless deliveries </span></th>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top: 30px; padding-bottom: 10px;">
                                <img src="https://svgshare.com/i/MLq.svg" style="width: 100%; margin-left: -7px;"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        
            <tr>
                <td bgcolor="#ffffff" style="padding-top: 20px; padding-bottom: 20px;">
                    <h1 style="font-size: 37px; line-height: 42px;">Lets help <br> You reset your password.</h1>

                    <p class="margin-bottom: 30px; line-height: 28px;">Hello, good day, this notification was sent from our password manager. A request came in from <b>{browser}</b> with an IP Address <b>{ipaddress}</b> requesting to change your default password. You can ignore this notification or use this verification code <b>{activation_code}</b> to complete the password reset.. <br><br>
                    Please feel free to contact our helpdesk if you consider this activity fradulent.</p>
                    
                    <a href="https://dropexpress.ng/contact" target="_blank" class="__main_content_btn" style="width: 300px; display:block; background-color: #E34B02; height: 56px; display: flex; justify-content: center; align-items: center; border-radius: 10px; text-decoration: none; color: #fff; font-size: 18px; margin-bottom: 30px;">Contact account support</a>

                    <br>
                    <p class="margin-bottom: 30px; line-height: 28px;">Thank you for choosing DROPEXPRESS</p>
                    
                </td>
            </tr>
        
            

            <tr>
                <td bgcolor="#ffffff" align="center" style="padding-top: 20px;">
                    <span style="color: #C3C3C3; font-size: 16px; display: inline-block; margin-bottom: 10px;">You can fnd us on</span>
                    <div>
                        <a href="" style="text-decoration: none; display: inline-block; margin-right: 10px;" target="_blank"> <img src="https://i.ibb.co/bmYyy38/social-icon-fb.png"/> </a>
                        <a href="" style="text-decoration: none; display: inline-block; margin-right: 10px;" target="_blank"> <img src="https://i.ibb.co/4YJcVg0/social-icon-tw.png"/> </a>
                        <a href="" style="text-decoration: none; display: inline-block;" target="_blank"> <img src="https://i.ibb.co/gZ0fmbM/social-icon-ins.png"/> </a>
                    </div>
                    <span style="display: inline-block; margin-top: 10px; margin-bottom: 15px;">50 Ebitu Ukiwe St, Jabi 900108, Abuja Nigeria.</span>
                </td>
            </tr>
        </table>
</div>